//
// Please write your custom CSS here...
// ----------------------------
.auto_close {
    display:none;
}
.contact_form {
	background: #3F9FBF;
	width: 100%;
	float: left;
	position: absolute;
	bottom: 0;
	padding: 20px 0 55px 0;
	color: #fff;
	font-size: 16px;
}
#form {
	width: 1185px;
	margin: 0 auto;
}
#form .col-sm-6 div {
	padding: 9px 0;
}
.label_form {
	font-size: 16px;
	float: left;
	width: 85px;
	text-align: right;
}
.orange {
	color: orange;
	float: left;
	height: 30px;
	line-height: 40px;
	width: 20px;
	text-align: center;
}
.form_control {
	height: 20px;
}
.form_control > input[type="radio"]{
	width: 30px;
	height: 18px;
	margin-top: -5px;
}
.form_control > label {
	position: relative;
	top: -4px;
	width: 50px;
}
.form_control > input[type="text"]{
	border-radius: 5px;
	border: none;
	height: 28px;
	margin-top: -3px;
}
.form_control > input[type="checkbox"]{	
	width: 30px;
	height: 20px;
	margin-left: -6px;
}
textarea#comment {
	height: 140px;
	width: 490px;
	border-radius: 6px;
	
}
#cancel-btn , #submit-btn{
	position: relative;
	right: -67%;
}
#cancel-btn button {
	width: 150px;
	height: 28px;
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 500;
	color: gray;
	
}
#submit-btn > input[type="submit"]{	
	width: 150px;
	height: 28px;
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	background: orange;
}
select.suites {
	background: #fff;
	border: none;
	color: gray;
	font-size: 14px;
	height: 28px;
}
.Zebra_DatePicker.dp_visible {
	left: 68% !important;
}

	